  #playlists::-webkit-scrollbar-track,
  #songList::-webkit-scrollbar-track {
    background: transparent;
  }
  #playlists::-webkit-scrollbar, 
  #songList::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  #playlists::-webkit-scrollbar-thumb, 
  #songList::-webkit-scrollbar-thumb {
    background: transparent;
  }